
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

.container{
    width: 1200px;
    margin: 0px auto;
}
.d-flex{
    display: flex;
}
/* header{
    background-color: blue;
} */


.row{
    padding: 20px 0px;
}
.logo{
    font-size: 13px;
    font-weight: normal;
}
.logo h1{
    color: #ede611;
}
.logo span{
    color: #b3a04b;
}

.nav{
    margin: 0px auto;
}

ul li{
    list-style-type: none;
    margin-left: 80px;
}
ul li a{
   text-decoration: none;
   position: relative;

}
ul li a::after{
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    display: block;
    background-color: blue;
    /* transition: all 1s ease-in-out .3s; */
    /* transition-property: all 1s ease-in-out .3s ; */
    transition: all 2s linear .3s;
    transform: translate(10px , 10px);


}
ul li a:hover::after{
    width: 50px;
    /* transition: all 3s ease-in-out; */
}